<h1>Action Cable Examples</h1>

<p>
  Hello <%= @current_user.name %>
  (<%= link_to 'Logout', session_path, method: :delete %>)!
</p>

<ul>
  <li><%= link_to 'Messages with live comments', messages_path %></li>
  <li><%= link_to 'Syncs specific to user', syncs_path %></li>
  <li><%= link_to 'GetSchwifty with Rick', '/rick' %></li>
  <li><a href="/integration/">Integration test</a></li>
</ul>
